[project]
	description = e-magazine reader
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tao yao (sterink)
[access "refs/for/refs/*"]
	read = group user/tao yao (sterink)
	push = group user/tao yao (sterink)
	label-Code-Review = -2..+2 group user/tao yao (sterink)
	label-Verified = -1..+1 group user/tao yao (sterink)
	rebase = group user/tao yao (sterink)
	removeReviewer = group user/tao yao (sterink)
	submit = group user/tao yao (sterink)
[access "refs/heads/*"]
	read = group user/tao yao (sterink)
	create = group user/tao yao (sterink)
	push = +force group user/tao yao (sterink)
	pushMerge = group user/tao yao (sterink)
[access "refs/tags/*"]
	push = +force group user/tao yao (sterink)
	pushTag = group user/tao yao (sterink)
	pushSignedTag = group user/tao yao (sterink)
